body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
  background-color: aquamarine;
}




.reminder{
  text-align: center;
  margin: auto;
  justify-items: center;
  justify-content: center;
}
